#!/bin/bash

alias ..='cd ..'
alias b='bundle'
alias bi='bundle install'
alias be='bundle exec'
alias ber='bundle exec rspec'
alias chunkstart='brew services start chunkwm && brew services start skhd'
alias chunkrestart='brew services restart chunkwm && brew services restart skhd'
alias chunkstop='brew services stop chunkwm && brew services stop skhd'
alias dt='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias drebuild='docker-compose down && docker-compose build django worker && make up'
alias ls='ls -G'
alias lsa='ls -a'
alias rc='bundle exec rails console'
alias rs='bundle exec rails server'
alias v='vim'
alias c='code'
alias c.='code .'
alias gl='git log'
alias gf='git fetch'
alias gcl='git clone'
alias glo='git log --oneline'
alias gd='git diff'
alias gb='git branch'
alias gco='git checkout'
alias gcom='git checkout master'
alias gcos='git checkout staging'
alias gcob='git checkout -b'
alias gs='git status'
alias gsh='git stash'
alias gsha='git stash apply'
alias ga='git add'
alias ga.='git add .'
alias gc='git commit'
alias gm='git merge'
alias grm='git rebase master'
alias grom='git rebase origin/master'
alias gcm='git commit -m'
alias gpl='git pull'
alias gps='git push'
alias gpsh='git push heroku master'
alias killflow='pkill -f flow-bin'
alias mu='make up'
alias md='make down'
alias mc='make clean'
alias mreset='make down && make clean && make up'
alias mdebug='docker-compose -f docker-compose-only-backend.yml up'
alias ni='npm install'
alias nis='npm install --save'
alias nisd='npm install --save-dev'
alias ns='npm start'
alias nt='npm test'
alias nr='npm run'
alias nw='npm run webpack'
alias nd='npm run dev'
alias w='webpack'
alias ww='webpack --watch'
alias yi='yarn install'
alias ya='yarn add'
alias yad='yarn add --dev'
alias ys='yarn start'
alias yt='yarn test'
alias yf='yarn flow'
alias yr='yarn run'
alias yd='yarn run dev'
alias yw='yarn run webpack'
alias clip-pipe='xclip -selection clipboard -o'

# safer destructive commands
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
