#!/bin/bash

alias ..='cd ..'
alias b='bundle'
alias bi='bundle install'
alias be='bundle exec'
alias ber='bundle exec rspec'
alias dt='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias ls='ls -G'
alias lsa='ls -a'
alias rc='bundle exec rails console'
alias rs='bundle exec rails server'
alias v='vim'
alias c='code'
alias c.='code .'
alias gs='git status'
alias ga='git add'
alias ga.='git add .'
alias gc='git commit'
alias gca='git commit --amend --no-edit'
alias gcm='git commit -m'
alias gpl='git pull'
alias gps='git push'
alias ns='npm start'
alias nt='npm test'
alias nr='npm run'
alias nw='npm run webpack'
alias w='webpack'
alias ww='webpack --watch'
alias yi='yarn install'
alias yw='yarn webpack'

# safer destructive commands
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
