#! /usr/local/bin/zsh

alias aws-mfa='eval $(~/Even/even-cli/bin/auth-aws-cli)'
alias activate='source env/bin/activate'
alias b='bundle'
alias bi='bundle install'
alias be='bundle exec'
alias ber='bundle exec rspec'
alias chunkstart='brew services start chunkwm && brew services start skhd'
alias chunkrestart='brew services restart chunkwm && brew services restart skhd'
alias chunkstop='brew services stop chunkwm && brew services stop skhd'
alias dt='cd ~/Desktop'
alias dl='cd ~/Downloads'
alias drebuild='docker-compose down && docker-compose build django worker && make up'
alias gcm='git commit -m'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gl='git log'
alias gprl='git pr list'
alias gpl='git pull'
alias gprco='git pr checkout'
alias grbom='git rebase origin/master'
alias ls='ls -G'
alias lsa='ls -a'
alias rc='bundle exec rails console'
alias rs='bundle exec rails server'
alias v='vim'
alias c='code'
alias c.='code .'
alias dcd='docker-compose exec django bash'
alias dcc='docker-compose exec calculation bash'
alias killflow='pkill -f flow-bin'
alias mu='make up'
alias md='make down'
alias mdmu='md && mu'
alias mc='make clean'
alias ms='md && mu'
alias mreset='make down && make clean && make up'
alias mdebug='docker-compose -f docker-compose-only-backend.yml up'
alias ni='npm install --no-save'
alias nis='npm install --save'
alias nisd='npm install --save-dev'
alias ns='npm start'
alias nt='npm test'
alias nr='npm run'
alias nvim='~/nvim.appimage'
alias nw='npm run webpack'
alias nd='npm run dev'
alias p='open -a /Applications/PyCharm.app'
alias yi='yarn install'
alias ya='yarn add'
alias yad='yarn add --dev'
alias ys='yarn start'
alias yt='yarn test'
alias yf='yarn flow'
alias yr='yarn run'
alias yd='yarn run dev'
alias yw='yarn run webpack'
alias clip-pipe='xclip -selection clipboard -o'

# safer destructive commands
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
